<div class="heading">

  <h1>Link<em>Hive</em></h1>
  <h3>Link anything. Launch everything!</h3>



  <div class="btn-container">
    <div id="btn-join">

      <%= link_to "Join Now", new_user_registration_path %>

    </div>

    <div class="btn-log">

      <%= link_to "Log In", new_user_session_path %>

    </div>

  </div>

</div>
