<h3>Choose a theme</h3>
<div class="themes-grid">
  <% Theme.all.each do |theme| %>
    <div class="theme-card <%= 'selected' if @landing_page.theme == theme %>">
      <p><%= theme.name %></p>
      <%= button_to "Select", dashboard_landing_page_path(@landing_page, landing_page: { theme_id: theme.id }),
                     method: :patch, class: "theme-button" %>
    </div>
  <% end %>
</div>
