

<h1><%= @landing_page.title %></h1>
<p><%= @landing_page.bio %></p>

<%= link_to "Edit", edit_dashboard_landing_page_path, class: "btn" %>

<ul>
  <% @links.each do |link| %>
    <li><%= link_to link.title, link.url %></li>
  <% end %>
</ul>
